h1 {
    text-align: center;
  }

.btn-group {
    text-align: center;
    margin: 0 auto; 
  }
  
.example-container {
    text-align: center;
    justify-content:center;
}

mat-table {
    display: table; 
    border-spacing: 0 8px !important;
}
